<!-- Display a list of movies -->
<% @movies.each do |movie| %>
  <h3><%= link_to movie.title, movie_path(movie) %></h3>
  <%= button_to 'Add to Favorites', favorites_path(movie_id: movie.id), method: :post %>
<% end %>
